{% extends 'base.html.twig' %}

{% block title %}Ajout photo - photOrely{% endblock %}


{% block body %}

<div class="page-wrap">

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="{{ path('home') }}"><span class="icon fa-home"></span></a></li>
            <li><a href="{{ path('gallery') }}"><span class="icon fa-camera-retro"></span></a></li>
            <li><a href="{{ path('admin') }}" class="active"><span class="icon fa-file-text-o"></span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main">
        {{form_start(form)}}
        {{form_row(form.name)}}
        {{form_row(form.description)}}
        {{form_row(form.file)}}
        <div><label for="upload"><span id="preview"></span></label></div>
        {{form_row(form.tag)}}
        {{form_row(form.submit)}}
        {{form_end(form)}}
    <!-- Footer -->
        <footer id="footer">
            <div class="copyright">
            &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
            </div>
        </footer>
    </section>
</div>

 <script type="text/javascript">

//  Fonction pour afficher une prévisualisation de l'image uploader
    function handleFiles(files) {
        var imageType = /^image\//;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
                if (!imageType.test(file.type)) {
                    alert("veuillez sélectionner une image");
                }else{
                    if(i == 0){
                    preview.innerHTML = '';
                    }
                    var img = document.createElement("img");
                    img.classList.add("obj");
                    img.file = file;
                    preview.appendChild(img); 
                    var reader = new FileReader();
                    reader.onload = ( function(aImg) { 
                    return function(e) { 
                    aImg.src = e.target.result; 
                }; 
                })(img);
                reader.readAsDataURL(file);
                }
        }
    }
 </script>
{% endblock %}